services:
  zebar-bot:
    build: .
    container_name: zebar_bot_container
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
      - ./data:/app/data
    environment:
      - NODE_ENV=production
      - PORT=3000
